<div class="cal-header">
	<div class="cal-archives">Pokaż archiwum:
		<select>
			<option>Październik 2012</option>
			<option>Listopad 2012</option>
		</select>
		<input type="submit" value="Ustaw" />
	</div>
	<h1 class="cal-title">Kalendarz Wydarzeń</h1>
	
</div>
