<div class="main-article-holder">
  <div class="first-article-image">
    <img src="http://fc09.deviantart.net/fs70/i/2012/257/e/d/nir_universe_005_by_albino_z-d5ephso.jpg" width="530px" />
  </div>
  
  <div class="clear additional-article-images">
    <img src="http://fc04.deviantart.net/fs70/f/2012/322/6/2/vw_rigshot_by_giifoto-d5lczg1.jpg" />
  </div>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pretium dui quis ante convallis nec fringilla leo suscipit. Etiam et neque urna. Nulla mollis iaculis tempor. Aliquam tincidunt blandit nibh non cursus. Donec risus ligula, adipiscing non iaculis et, placerat sed velit. Proin ornare blandit tellus at dapibus. Curabitur felis urna, placerat feugiat interdum</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pretium dui quis ante convallis nec fringilla leo suscipit. Etiam et neque urna. Nulla mollis iaculis tempor. Aliquam tincidunt blandit nibh non cursus. Donec risus ligula, adipiscing non iaculis et, placerat sed velit. Proin ornare blandit tellus at dapibus. Curabitur felis urna, placerat feugiat interdum</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pretium dui quis ante convallis nec fringilla leo suscipit. Etiam et neque urna. Nulla mollis iaculis tempor. Aliquam tincidunt blandit nibh non cursus. Donec risus ligula, adipiscing non iaculis et, placerat sed velit. Proin ornare blandit tellus at dapibus. Curabitur felis urna, placerat feugiat interdum</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pretium dui quis ante convallis nec fringilla leo suscipit. Etiam et neque urna. Nulla mollis iaculis tempor. Aliquam tincidunt blandit nibh non cursus. Donec risus ligula, adipiscing non iaculis et, placerat sed velit. Proin ornare blandit tellus at dapibus. Curabitur felis urna, placerat feugiat interdum</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pretium dui quis ante convallis nec fringilla leo suscipit. Etiam et neque urna. Nulla mollis iaculis tempor. Aliquam tincidunt blandit nibh non cursus. Donec risus ligula, adipiscing non iaculis et, placerat sed velit. Proin ornare blandit tellus at dapibus. Curabitur felis urna, placerat feugiat interdum</p>
  
  <div class="clearspace"></div>
</div>