<div class="places_loading"><%= image_tag('loader.gif') %></div>
<div class="filter-map">
  <ul>
    <li class="yellow-foot map_nav all"><a href="#" onclick="add_places(); return false;" data-remote="true">Wszystkie</a></li>
    <li class="orange-foot map_nav rozrywka"><a href="#" onclick="add_places('rozrywka'); return false;" data-remote="true">Rozrywka</a></li>
    <li class="green-foot map_nav kultura"><a href="#" onclick="add_places('kultura'); return false;" data-remote="true">Kultura</a></li>
    <li class="blue-foot map_nav studia"><a href="#" onclick="add_places('studia'); return false;" data-remote="true">Studia</a></li>
    <li class="pink-foot map_nav lifestyle"><a href="#" onclick="add_places('lifestyle'); return false;" data-remote="true">Lifestyle</a></li>
  </ul>
<%# will_paginate @places %>
</div>
<div id='map_canvas' style='width:100%; min-height: 600px; top:110px; bottom:0; position: absolute; '>
</div>


<script>
  var map;
  var markersArray = [];
  var coordsArray = [];
  var infoBubbles = [];

  function initialize() {
    var pointCoords = new google.maps.LatLng(50.070169,19.920656);
    var mapOptions = {
      zoom: 10,
      center: pointCoords,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    map = new google.maps.Map(document.getElementById('map_canvas'), mapOptions);
  };

  function add_places(category, page) {
    $('.places_loading').show();
    $.ajax({
      type: "POST",
      url: '<%= add_places_to_map_url %>',
      data: { category: category, page: page }
    });
  };


  $(document).ready(function() {
    initialize();
    var cat_param = '<%= params[:category] %>';    
    if (cat_param.length > 0) {
      add_places(cat_param);
    } else {
      add_places();
    };
    $('.<%= @curr_cat %>').addClass('selected');
  });  
</script>
