<div class="field">
  <%#= f.label :title, "Tytuł zdjęcia" %>
  <%#= f.text_field :title %>
</div>
<div class="field">
  <%= f.label :photo, "Plik" %>
  <%= f.file_field :photo %>
  <span class="remove-me"><%= link_to_remove_fields "usuń", f %></span><br>
  <% if f.object.present? && f.object.photo.present? %>
    <br /><%= (image_tag f.object.photo.thumb.url) %><br>
  <% end %><br>
  -----------------------<br/>
</div>