body {
	background: #131313;
	padding: 0px 20px;
	margin: 0;
	font-family: 'PT sans', Arial, sans-serif;
}
ul, li {padding: 0; list-style: none;}
a {	color: #3CA9D8;
	text-decoration:none;
}
p { margin: 4px 0px;}
.page-content h1 {
	margin-bottom: 20px;
}
h1 {
	margin-top:35px;
	margin-bottom: 0px;
	color: #555;
}
table th {
	text-align: left;
}
.ui-sortable li {float: left; margin: 0px 3px;}
.clearspace {
	height: 30px;
	clear: both;
}
.clear {
	clear:both;
}
.main-wrapper {
	background: #fff;
}
header {
	background: #fff;
	height: 110px;
	display:block;
	padding: 30px;
}
.main-nav {
	background: #121212;
	border: 1px solid #0d0d0d;
}
.main-nav ul { padding: 0px 5px;}
.main-nav li {
	border-bottom: 1px solid #0d0d0d;
	border-top: 1px solid #1d1d1d;
	padding: 0px 20px;
	list-style: none;
}
.main-nav li:hover {
	background: #161616;}
.main-nav li:last-child {
	border-bottom: none;
}
.main-nav li:first-child {
	border-top: none;
}
.main-nav a{
	padding: 13px;
	display:block;
	font-size: 15px;
	color: #fff;
	font-family: 'PT sans', arial, sans-serif;
}
aside {	height: 100%;
	position: absolute;
	width: 280px;

}
	
.breadcrumbs {
	padding-top: 11px;
	font-size: 13px;
	font-family: 'Istok Web', Arial, sans-serif;
	min-height: 29px;
	border-color: #239BCE;
	border-width: 1px 0px;
	border-style: solid;
	background: #63b6db;
	background: -moz-linear-gradient(top,  #63b6db 0%, #309dcf 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#63b6db), color-stop(100%,#309dcf));
	background: -webkit-linear-gradient(top,  #63b6db 0%,#309dcf 100%);
	background: -o-linear-gradient(top,  #63b6db 0%,#309dcf 100%);
	background: -ms-linear-gradient(top,  #63b6db 0%,#309dcf 100%);
	background: linear-gradient(to bottom,  #63b6db 0%,#309dcf 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63b6db', endColorstr='#309dcf',GradientType=0 );

	text-shadow: 1px 1px 0px #239BCE;
	color:#222;
}
.breadcrumbs a {
	padding-left: 15px;
	text-decoration: none;
	text-shadow: 1px 1px 0px #239BCE;
	color:#FFF;
}
.next-sep {
	margin-left: 70px;
	margin-top: -11px;
	position:absolute;
	width:8px;
	height: 40px;
	background:url(/assets/next-sep.png) no-repeat;
}
.notified {
	border-radius: 15px;
	padding: 2px 4px;
	font-size: 10px;
	margin-left: 8px;
	color: #222;
	text-shadow: 1px 1px 0px #bece00;
	background-color: #86a400;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#bacb00), to(#86a400));
	background-image: -webkit-linear-gradient(top, #bacb00, #86a400);
	background-image:    -moz-linear-gradient(top, #bacb00, #86a400);
	background-image:     -ms-linear-gradient(top, #bacb00, #86a400);
	background-image:      -o-linear-gradient(top, #bacb00, #86a400);
}
.admin-content {

	position: relative;
	min-height: 300px;
}
.page-content {
	padding: 20px 10px 30px 0px;
	margin-left: 300px;
}
.page-content label {
	display: block;
	margin-bottom: 5px;
}

.page-content input[type="text"] {
	border: 1px solid #ccc;
	padding: 6px 6px;
	border-radius: 3px;
	width: 300px;
}
.page-content input[type="password"] {
	border: 1px solid #ccc;
	padding: 6px 6px;
	border-radius: 3px;
	width: 300px;
}
.page-content textarea {
	width: 60%;
	height: 300px;
	border: 1px solid #ccc;
	padding: 6px 6px;
	border-radius: 3px;
}

.page-content input[type="submit"] {
}
.field {
	margin-bottom: 15px;
}
.going-up {
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-right: 5px;
	background: url(/assets/up.png) no-repeat;
}

.going-down {
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(/assets/down.png) no-repeat;
}
.flash-notice span, .flash-error span{
	font-size: 16px;
	font-weight: bold;
}
.flash-notice {
	background-color: #84A300;
  border: 1px solid #638400;
}
.flash-error {
	background-color: #de4343;
	border: 1px solid #c43d3d;
}
.message
{
		-webkit-background-size: 40px 40px;
		-moz-background-size: 40px 40px;
		background-size: 40px 40px;			
		background-image: -webkit-gradient(linear, left top, right bottom,
								color-stop(.25, rgba(255, 255, 255, .05)), color-stop(.25, transparent),
								color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .05)),
								color-stop(.75, rgba(255, 255, 255, .05)), color-stop(.75, transparent),
								to(transparent));
		background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
							transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
							transparent 75%, transparent);
		background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
							transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
							transparent 75%, transparent);
		background-image: -ms-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
							transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
							transparent 75%, transparent);
		background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
							transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
							transparent 75%, transparent);
		background-image: linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
							transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
							transparent 75%, transparent);
		 width: 100%;
		 left: 0px;
		 top: 0px;
		 color: #fff;
		 padding: 15px 40px;
		 position: fixed;
		 _position: absolute;
		 text-shadow: 0 1px 0 rgba(0,0,0,.5);
		 -webkit-animation: animate-bg 5s linear infinite;
		 -moz-animation: animate-bg 5s linear infinite;
}
@-webkit-keyframes animate-bg
{
    from {
        background-position: 0 0;
    }
    to {
       background-position: -80px 0;
    }
}


@-moz-keyframes animate-bg 
{
    from {
        background-position: 0 0;
    }
    to {
       background-position: -80px 0;
    }
}
.last-flag {
	margin-right: 10px;
}
.selected {
	font-weight: bold;
}
.front-login-box {
	color: #555;
	width: 250px;
	padding: 30px;
	background: #fff;
	box-shadow: rgba(0, 0, 0, 0.5);
	margin: 200px auto 0 auto;
	border-radius: 10px;
}
.front-login-box h1 {
	color: #555;
	margin: 0px auto 15px auto;
	font-size: 22px;
	text-align: center;
}
.front-login-box label {
	display: block;
	margin-bottom: 5px;
}
.front-login-box input[type="submit"] {
	background: #63b6db;
	background: -moz-linear-gradient(top,  #63b6db 0%, #309dcf 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#63b6db), color-stop(100%,#309dcf));
	background: -webkit-linear-gradient(top,  #63b6db 0%,#309dcf 100%);
	background: -o-linear-gradient(top,  #63b6db 0%,#309dcf 100%);
	background: -ms-linear-gradient(top,  #63b6db 0%,#309dcf 100%);
	background: linear-gradient(to bottom,  #63b6db 0%,#309dcf 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63b6db', endColorstr='#309dcf',GradientType=0 );
	border-radius: 3px;
	border: 1px solid #1E99CE;
	padding: 6px 18px;
	color: #fff;
	margin-left: 70px;
	cursor: pointer;
	font-weight: bold;
}
.front-login-box input[type="submit"]:hover {
	background: #3ca9d8;
background: -moz-linear-gradient(top,  #3ca9d8 0%, #0e94ce 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3ca9d8), color-stop(100%,#0e94ce));
background: -webkit-linear-gradient(top,  #3ca9d8 0%,#0e94ce 100%);
background: -o-linear-gradient(top,  #3ca9d8 0%,#0e94ce 100%);
background: -ms-linear-gradient(top,  #3ca9d8 0%,#0e94ce 100%);
background: linear-gradient(to bottom,  #3ca9d8 0%,#0e94ce 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3ca9d8', endColorstr='#0e94ce',GradientType=0 );

}
.front-login-box input[type="text"], .front-login-box input[type="password"] {
	width: 230px;
	height: 28px;
	border: 1px solid #ccc;
	outline: none !important;
	padding: 0px 5px;
	border-radius: 5px;
	line-height: 28px;
	margin-bottom: 15px;
}
.front-login-box input[type="text"]:focus, .front-login-box input[type="password"]:focus {
	border: 1px solid #3ca9d8;
}
