$orange: #e86800;
$blue: #0093ba;
$green: #a2c306;
$yellow: #ffde00;
$pink: #810a42;
$white: #fff;

@mixin grey-bg {
	background: #ffffff;
	background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%);
	background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );
}
@mixin inverse-grey-bg {
	background: #e5e5e5;
	background: -moz-linear-gradient(top,  #e5e5e5 0%, #ffffff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5e5e5), color-stop(100%,#ffffff));
	background: -webkit-linear-gradient(top,  #e5e5e5 0%,#ffffff 100%);
	background: -o-linear-gradient(top,  #e5e5e5 0%,#ffffff 100%);
	background: -ms-linear-gradient(top,  #e5e5e5 0%,#ffffff 100%);
	background: linear-gradient(to bottom,  #e5e5e5 0%,#ffffff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#ffffff',GradientType=0 );
}
@mixin d-blue-btn-grad {
	background: #3ca9d8;
	background: -moz-linear-gradient(top,  #3ca9d8 0%, #0e94ce 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3ca9d8), color-stop(100%,#0e94ce));
	background: -webkit-linear-gradient(top,  #3ca9d8 0%,#0e94ce 100%);
	background: -o-linear-gradient(top,  #3ca9d8 0%,#0e94ce 100%);
	background: -ms-linear-gradient(top,  #3ca9d8 0%,#0e94ce 100%);
	background: linear-gradient(to bottom,  #3ca9d8 0%,#0e94ce 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3ca9d8', endColorstr='#0e94ce',GradientType=0 );
}
@mixin blue-btn-grad {
	background: #63b6db;
	background: -moz-linear-gradient(top,  #63b6db 0%, #309dcf 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#63b6db), color-stop(100%,#309dcf));
	background: -webkit-linear-gradient(top,  #63b6db 0%,#309dcf 100%);
	background: -o-linear-gradient(top,  #63b6db 0%,#309dcf 100%);
	background: -ms-linear-gradient(top,  #63b6db 0%,#309dcf 100%);
	background: linear-gradient(to bottom,  #63b6db 0%,#309dcf 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63b6db', endColorstr='#309dcf',GradientType=0 );
}
@mixin act-fadein {
	  -webkit-transition: all 1s ease-in-out;
	  -moz-transition: all 1s ease-in-out;
	  -ms-transition: all 1s ease-in-out;
	  -o-transition: all 1s ease-in-out;
	  transition: all 1s ease-in-out;
}
@mixin q-fadein {
	  -webkit-transition: all 0.2s ease-in-out;
	  -moz-transition: all 0.2s ease-in-out;
	  -ms-transition: all 0.2s ease-in-out;
	  -o-transition: all 0.2s ease-in-out;
	  transition: all 0.2s ease-in-out;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
.clear {
	clear: both;
}
.clearspace {
	clear: both;
	height: 50px;
}
a {
  text-decoration: none;
  color: $blue;
}
body {
	font-size: 13px;
	color: #474646;
	background: #222 url(/assets/bg.png);
 /* background: #021E2D;*/
  font-family: 'PT Sans Caption', Helvetica, Tahoma, Arial, sans-serif;
}
h1.general {
	margin: 5px 15px 0px 15px;
	font-size: 24px;
	color: #555;
	padding: 20px 20px 0px 20px;
}
.home-index .behind-bg, .home-index .stripes, .home-index .blurme {
  height: 325px;
}
.behind-bg {
  background: url(/assets/test.png);
  height: 225px;
  background-size: 100%;
  margin-top: 1px;
}
.behind-bg img {
  width: 100%;
  min-width: 1028px;
  max-height: 225px;
  overflow: hidden;
}
.stripes {
	width: 100%;
	min-width: 1028px;
	height: 225px;
	background: url(/assets/stripes.png);
}
.blurme {
	width: 100%;
	min-width: 1028px;
	height: 225px;
	background-size: 100%;
	background-position: center center;
}
header {
  background: #222 url(/assets/bg.png);
  height: 108px;
  border-bottom: 1px solid #303030;
  box-shadow: 0px 1px 0px #232323;

}
.small-nav {
  position: fixed; 
  background: red; 
  width: 100%;
  z-index: 999;
  box-shadow: 0px 1px 15px #111;
  background: #222 url(/assets/bg.png);
}
.logo-cc {
	float: left;
	margin-top: 10px;
	display: block;
	width: 282px;
	height: 94px;
	background: url(/assets/logo-cc.png) no-repeat;
}
.small-logo-cc {
	float: left;
	margin-top: 70px;
	display: block;
	width: 164px;
	height: 34px;
	background: url(/assets/small-logo.png) no-repeat;
}
.navigation-area {
  width: 990px;
  margin: 0 auto;
}
nav {
  font-size: 12px;
  margin-top: 32px;
  color: #fff;
  float: right;
}
nav a {
  color: #fff;
  margin: 36px 16px 0px 16px;
  float: left;
  display: block;
  padding: 7px;
}
.seperator {
  float: left;
  background: url(/assets/seperator.png) no-repeat;
  width: 1px;
  height: 77px;
  display: block;
}
.orange{ background: $orange;}
.green{ background: $green;}
.blue { background: $blue;}
.pink { background: $pink;}
.yellow{ background: $yellow;}
.white { background: #fff;}

.orange-bar { border-bottom: 3px solid $orange;
		&:hover {color: $orange;}
}
.green-bar { border-bottom: 3px solid $green;
		&:hover { color: $green;}
}
.blue-bar { border-bottom: 3px solid $blue;
		&:hover { color: $blue;}
}
.pink-bar { border-bottom: 3px solid $pink;
		&:hover {color: $pink;}
}
.yellow-bar { border-bottom: 3px solid $yellow;
		&:hover {color: $yellow;}
}
.white-bar { border-bottom: 3px solid #fff;}

.orange-f { border-left: 2px solid $orange;}
.green-f { border-left: 2px solid $green;}
.blue-f { border-left: 2px solid $blue;}
.pink-f { border-left: 2px solid $pink;}
.yellow-f { border-left: 2px solid $yellow;}
.white-f { border-left: 2px solid #fff;}
.article-header.orange-f { border-left: 11px solid $orange;}
.article-header.green-f { border-left: 11px solid $green;}
.article-header.blue-f { border-left: 11px solid $blue;}
.article-header.pink-f { border-left: 11px solid $pink;}

.orange-ico {background: url(/assets/cat-sprites.png) -25px 0px no-repeat;}
.green-ico {background: url(/assets/cat-sprites.png) 0px 0px no-repeat;}
.blue-ico {background: url(/assets/cat-sprites.png) -75px 0px no-repeat;}
.pink-ico {background: url(/assets/cat-sprites.png) -50px 0px no-repeat;}

.ico {	
	width: 23px;
	height: 40px;
	display: block;
	position: absolute;
	right: -4px;
	top: -4px;
}
.outer-wrapper {
  width: 990px;
  margin: 0 auto;
}
.home-index .glass-wrapper {
	margin: -170px auto 0 auto;
}
.glass-wrapper {
	background: rgba(255, 255, 255, 0.04);
	width: 1028px;
	margin: -160px auto 0 auto;
	border: 1px solid rgba(255, 255, 255, 0.06);
	box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}
.home-index .main-content {
  padding-top: 135px;
}
.main-content {
  background: #fff;
  width: 990px;
  margin: 18px auto;
  min-height: 300px;
}
.mason {	
	border: 1px solid #e3e3e3;
	background: #f2f2f2;
	padding: 3px;
	float: left;
	margin: 14px;
}
.m-title-fixed {
	text-transform: uppercase;
	font-family: 'PT Sans', Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	padding: 2px 5px;
	position: absolute;
	bottom: 0px;
}
.w2 .m-title, .w2 .m-title-fixed {
    max-height: 40px;
    overflow: hidden;
}
.m-title {
	text-transform: uppercase;
	font-family: 'PT Sans', Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	padding: 2px 5px;
	position: absolute;
	bottom: 4px;
}
.fade-hover {
	position: absolute;
	display: none;
	width: 100%;
	height: 100%;
	background: url(/assets/overlay.png) no-repeat center center rgba(255, 255, 255, 0.2);

}
.w3:hover .fade-hover, .w2:hover .fade-hover, .w4:hover .fade-hover{
	display: block;
}
.end-post-promo{
  .w200 {
    width: 192px;
  }
  .w2 img{
    max-width: 192px;
  }
}

.w400 { width: 292px;}
.w200 { width: 292px;}
.w300 {	width: 292px;}
.w3, .w2, .w4 { position: relative;}
.w2 img { max-width: 292px;}
.w4 img { max-width: 292px;}
.w3 img { max-width: 292px;}
.snippet {
	color: #241e1a;
	font-size: 11px;
	font-family: 'PT Sans Caption', Helvetica, Arial, sans-serif;
	padding: 2px 5px 15px 5px;
}
.newsletter {
	padding: 30px;
}
.newsletter .big-title {
	font-size: 27px;
	font-family: 'PT Sans Caption', Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	color: #3e3e3e;
	font-weight: bold;
	margin-bottom: 15px;
}
.newsletter .small-title {
	font-family: 'PT Sans Caption', Helvetica, Arial, sans-serif;
	color: #474646;
	font-size: 13px;
	line-height: 15px;
	display: block;
}
.newsletter .email-label{
	text-transform: uppercase;
	color: #3e3e3e;
	font-weight: bold;
	font-size: 14px;
	display: block;
	margin-bottom: 10px;
}
.input-area {
	width: 555px;
	margin: 30px auto;
}
.newsletter .email-here{
	float: left;
	width: 435px;
	color: #777;
	padding: 5px 5px 6px 5px;
	font-size: 15px;
	height: 22px;
	line-height: 20px;
	border: 1px solid #19515D;
}
.newsletter-check {
	margin-top: 10px;
	font-size: 10px;
	display: block;
}
.newsletter-check  input{
	float: left;
}
.newsletter-check p{
	margin-left: 10px;
}
.newsletter .email-me{
	margin-left: -6px;
	width: 107px;
	border: 0;
	height: 35px;
	background: url(/assets/newsletter.png) no-repeat top left;
	cursor: pointer;
	font-size: 12px;
	font-family: 'PT Sans Caption', Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	color: #fff;
	font-weight: bold;
	text-shadow: 1px 1px 0px #00443e;
}
.newsletter .email-me:hover{
	background-position: bottom left;
}
.fb-link {
	padding-bottom: 3px;
	background: url(/assets/fb16.png) no-repeat;
	padding-left: 20px;
	margin-right: 25px;
	font-size: 12px;
	color: #44609B;
}
.response {
	font-size: 13px;
	padding: 7px 15px;
	width: 523px;
	margin: 20px auto 0px auto;
}
#mce-error-response {
	background-color: #FFD8E6;
	color: #940018;
	border: 1px solid #FF6A7F;
}
#mce-success-response {
	background-color: #E1FBBC;
	border: 1px solid #60A607;
}
.cal-header {
	margin: 0 20px;
	border-bottom: 3px solid #286868;
	padding: 20px 0 15px;
}
.cal-archives {
	float: right;
}
.cal-title {
	text-transform: uppercase;
	font-size: 25px;
	font-weight: bold;
	color: #286868;
}
.cal-head-date {
	font-size: 20px;
	padding: 5px 19px;
}
.calendar-holder table {
	padding: 0px 17px;
	width: 100%;
}
.calendar-holder table td {
	border-bottom: 1px solid #ddd;
	padding: 10px 0px;
}
.ch-more {
	width: 100px;
	text-align: right;
	vertical-align: middle;
}
.ch-time {
	width: 62px;
	vertical-align: middle;
}
.ch-title {}
.ch-street {
	vertical-align: middle;
	width: 260px;
}
.cal-news {
	font-weight: bold;
	padding-left: 12px;
	text-transform: uppercase;
	font-size: 16px;
}
a.ch-green {
	display: block;
	color: $green;
	border-left: 3px solid $green;
}
a.ch-blue {
	display: block;
	color: $blue;
	border-left: 3px solid $blue;
}
a.ch-pink {
	display: block;
	color: $pink;
	border-left: 3px solid $pink;
}
a.ch-orange {
	display: block;
	color: $orange;
	border-left: 3px solid $orange;
}
.user-profile {
	width: 850px;
	margin: 0 auto;
	padding: 50px 0px;
}
.user-avatar  {
	position: relative;
	float: left;
	width: 340px;
	.edit-avatar {
		bottom: 13px;
		right: 39px;
	}
	img{
		border-radius: 3px;
		padding: 5px;
		width: 300px;
		height: 300px;
		background: #F1F1F1;
		box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
		}
}
.user-info {
	position: relative;
	width: 510px;
	float: left;
	min-height: 300px;
	font-size: 12px;
		.edit-box {
			right: 0px;
			top: 10px;
		}
		.your-name {
			font-size: 24px;
		}
		.your-username {
			font-size: 15px;
		}
}
.place-avatar  {
	position: relative;
	float: left;
	width: 240px;
	img{
		border-radius: 3px;
		padding: 5px;
		width: 200px;
		height: 200px;
		background: #F1F1F1;
		box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
		}
}
.place-info {
	position: relative;
	width: 510px;
	float: left;
	min-height: 300px;
	font-size: 12px;
		.edit-box {
			right: 0px;
			top: 10px;
		}
		.your-name {
			font-size: 24px;
		}
		.your-username {
			font-size: 15px;
		}
}
.mini-edit {
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
	font-size: 11px;
	border-radius: 4px;
	padding: 3px 6px;
	background: #F1F1F1;
	display: block;
	position: absolute;
	bottom: 13px;
	right: 39px;
}
.edit-box, .edit-avatar {
	border: 1px solid #CCC;
	font-size: 11px;
	border-radius: 4px;
	padding: 3px 6px;
	@include grey-bg;
	display: none;
	position: absolute;
	color: $orange;
		&:hover {
			border: 1px solid #aaa;
		}
		&:active {
			@include inverse-grey-bg;
		}

}
.been-there-bg {
	color: white;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	display: inline-block;
	padding: 2px 5px;
	background: #bfd255;
	background: -moz-linear-gradient(top,  #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bfd255), color-stop(50%,#8eb92a), color-stop(51%,#72aa00), color-stop(100%,#9ecb2d));
	background: -webkit-linear-gradient(top,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%);
	background: -o-linear-gradient(top,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%);
	background: -ms-linear-gradient(top,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%);
	background: linear-gradient(to bottom,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#9ecb2d',GradientType=0 );

}
.done-that-bg {
	color: white;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	display: inline-block;
	padding: 2px 5px;
	background: #58abce;
	background: -moz-linear-gradient(top,  #58abce 0%, #2e79b6 50%, #0558a5 51%, #3286c6 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#58abce), color-stop(50%,#2e79b6), color-stop(51%,#0558a5), color-stop(100%,#3286c6));
	background: -webkit-linear-gradient(top,  #58abce 0%,#2e79b6 50%,#0558a5 51%,#3286c6 100%);
	background: -o-linear-gradient(top,  #58abce 0%,#2e79b6 50%,#0558a5 51%,#3286c6 100%);
	background: -ms-linear-gradient(top,  #58abce 0%,#2e79b6 50%,#0558a5 51%,#3286c6 100%);
	background: linear-gradient(to bottom,  #58abce 0%,#2e79b6 50%,#0558a5 51%,#3286c6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#58abce', endColorstr='#3286c6',GradientType=0 );


}
.snooper {
	width: 990px;
	margin: 0 auto;

		.snoop-left {
			background: url(/assets/snoop-right.png) no-repeat;
			width: 22px;
			height: 38px;
			float: right;
		}
		.snoop-right {
			background: url(/assets/snoop-left.png) no-repeat;
			width: 22px;
			height: 38px;
			float: right;
		}
		.snoop-mid {
			color: #999;
			font-size: 11px;
			background: url(/assets/snoop-med.png) repeat-x;
			height: 38px;
			float: right;
			padding: 0 5px;
			line-height: 36px;
		}
}
.box700th {
	width: 700px;
	margin: 0 auto;
}
.adjecent {
	float: left;
}
.sign-box {
	border-radius: 10px;
	padding: 25px;
	width: 250px;
	margin: 10px 40px 40px 0px;
	@include act-fadein;
		&:hover {
			box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.2);
		}
}

.face-box {
	margin: 10px 0px 10px 40px;
	border-radius: 10px;
	padding: 25px;
	width: 250px;
	@include act-fadein;
	&:hover {
		box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.2);
	}
}
.front-login-box label {
	display: block;
	margin-bottom: 5px;
}
.sign-box input[type="submit"] {
	border-radius: 3px;
	border: 1px solid #1E99CE;
	padding: 6px 18px;
	color: #fff;
	cursor: pointer;
	font-weight: bold;
	@include blue-btn-grad;
}
.sign-box input[type="submit"]:hover {
	@include d-blue-btn-grad;
}
.sign-box input[type="text"], .sign-box input[type="password"], .sign-box input[type="email"] {
	width: 230px;
	height: 28px;
	border: 1px solid #ccc;
	outline: none !important;
	padding: 0px 5px;
	border-radius: 5px;
	line-height: 28px;
	margin-bottom: 15px;
}
.sign-box input[type="text"]:focus, .sign-box input[type="password"]:focus, .sign-box input[type="email"]:focus {
	border: 1px solid #3ca9d8;
}
.why-join {
	font-size: 12px;
	margin-bottom: 17px;
}
.top-dashed {
	margin-top: 10px;
	padding-top: 10px;
	border-top: 1px dashed #ccc;
}
.fb-login-btn {
	background: url(/assets/log-fb.png) no-repeat;
	line-height: 24px;
	font-size: 12px;
	padding: 4px 15px 5px 29px;
	color: #DBE2F3;
		&:hover {
			color: #fff;
		}
}
footer {

  width: 990px;
  margin: 7px auto;
  a {
      color: #888;
      &:hover {
          color: #ddd;
        }
    }
  .foot-title {
      margin-top: 7px;
      text-transform: uppercase;
    }
  .foot {
    float: left;
      li {
        margin-left: -5px;
        line-height: 22px;
        list-style: none;
      }
    }
  .part1 {
      width: 180px;
      margin: 0px 5px;
    }
  .part2 {
      width: 180px;
      margin: 0px 5px;
    }
  .part3 {
      width: 295px;
      margin: 0px 5px;
        li {
          overflow: hidden;
          height: 22px;
          }
    }
  .part4  {
      width: 265px;
      margin: 0px 5px 0px 25px;
    }
}
.orange-foot a{
  padding-left: 5px;
  border-left: 3px solid transparent;
  @include q-fadein;
    &:hover {
        border-left: 3px solid $orange;
      }
}
.blue-foot a{
  padding-left: 5px;
  border-left: 3px solid transparent;
  @include q-fadein;
    &:hover {
        border-left: 3px solid $blue;
      }
}
.green-foot a{
  padding-left: 5px;
  border-left: 3px solid transparent;
  @include q-fadein;
    &:hover {
        border-left: 3px solid $green;
      }
}
.yellow-foot a{
  padding-left: 5px;
  border-left: 3px solid transparent;
  @include q-fadein;
    &:hover {
        border-left: 3px solid $yellow;
      }
}
.pink-foot a{
  padding-left: 5px;
  border-left: 3px solid transparent;
  @include q-fadein;
    &:hover {
        border-left: 3px solid $pink;
      }
}
.white-foot a{
  padding-left: 5px;
  border-left: 3px solid transparent;
  @include q-fadein;
    &:hover {
        border-left: 3px solid $white;
      }
}
.main-article-holder {
  padding: 17px;
}
.first-article-image {
  float: left;
  position: relative;
  margin-right: 15px;
    img {width: 530px;}
    .article-triangle {
      background: url(/assets/article-triangle.png) no-repeat;
      width: 140px;
      height: 140px;
      display: block;
      position: absolute;
      right: 0;
      bottom: 4px;
      z-index: 4;
    }
}
.additional-article-images {
  float: left;
  margin-right: 15px;
  margin-top: 15px;
    img {max-width: 390px;}
}
.for-articles {
  color: white;
  text-transform: uppercase;
  font-size: 22px;
  line-height: 40px;
  font-family: 'PT Sans Caption', Helvetica, Tahoma, Arial, sans-serif;
  font-weight: bold;
  display: inline;
  white-space: pre-line;
  padding: 6px 0px;
    span {
      position: relative;
      left: -5px;
    }
}
.article-header {
  margin-bottom: 15px;
  margin-left: -50px;
  float: right;
	z-index: 99;
	width: 450px;
	position: relative;
}
.first-caption {
  z-index: 2;
  position: relative;
  margin-top: -30px;
  width: 382px;
  float: left;
  font-size: 14px;
  text-transform: uppercase;
  padding: 4px;
  color: #fff;
  font-weight: bold;
}
.article-date {
  margin-bottom: 15px;
  color: #777;
}
.article-lead {
  font-weight: bold;
}
.article-content {
  z-index: 100;
  margin-left: 405px;
  position: relative;
      p{ margin: 8px 0px;}
}
.article-caption {
  font-size: 14px;
  text-transform: uppercase;
  padding: 4px;
  color: white;
  font-weight: bold;
}
.more-from-us {
  font-size: 14px;
  text-transform: uppercase;
  padding: 4px;
  color: white;
  font-weight: bold;
}
h4 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  padding: 5px 10px;
  margin: 10px 0px;
}
.article-location {
    h2 {
      font-size: 18px;
      font-weight: bold;
      text-transform: uppercase;
    }
    table td { vertical-align: top;}
    .location-detail {
      padding: 5px 0px;
      text-align: right;
    }
    .location-info {
      padding: 5px 0px;
      text-align: left;
      padding-left: 15px;
    }
}
.error-behind-bg {
  background: url(/assets/404bg.png) repeat-x;
  height: 225px;
  margin-top: 1px;
}
.errorpage {
	width: 100%;
	min-width: 1028px;
	height: 225px;
}
.e404 {
	background: url(/assets/404main.png) center top no-repeat;
}
.e422 {
	background: url(/assets/422main.png) center top no-repeat;
}
.e500 {
	background: url(/assets/500main.png) center top no-repeat;
}
.display-rec {
    height: 160px;
    overflow: hidden;
}
.top-notificator {
}
.tm-notice {
  color: #fff;
  background-color: #84A300;
    p {
      width: 990px;
      margin: 0 auto;
      text-align: center;
      padding: 10px;
    }
}
.tm-error {
  color: #fff;
  background-color: #de4343;
    p {
      width: 990px;
      margin: 0 auto;
      text-align: center;
      padding: 10px;
    }
}
.filter-map {
  position: absolute;
  z-index: 101;
  left: 6%;
  top: 200px;
  background: white;
  width: 200px;
  box-shadow: 0px 0px 6px black;
  border-radius: 6px;
  padding: 12px;
    .selected a {
      font-weight: bold;
    }
    .orange-foot.selected a{
      border-left: 3px solid $orange;
      color: $orange;
    }
    .blue-foot.selected a{
      border-left: 3px solid $blue;
      color: $blue;
    }
    .green-foot.selected a{
      border-left: 3px solid $green;
      color: $green;
    }
    .yellow-foot.selected a{
      border-left: 3px solid $yellow;
      color: #333;
    }
    .pink-foot.selected a{
      border-left: 3px solid $pink;
      color: $pink;
    }
  ul li {
    list-style: none;
      a {
        color: #777;
          &:hover {
            color: #333;
          }
      }
  }
}
.places_loading {
  width: 100%;
  background: rgba(255, 255, 255, 0.7);
  z-index: 99;
  display: none;
  position: absolute;
  top: 110px;
  bottom: 0;
    img {
      position: absolute;
      left: 50%;
      top: 40%;
    }
}
.main-search-area {
  margin-right: -10px;
  margin-left: 30px;
  margin-top: 6px;
  width: 214px;
  border: 0;
  height: 17px;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.2);
  outline: none;
  padding: 0 8px 3px 8px;
  @include act-fadein;
    &:focus {
      @include act-fadein;
      background: #fff;
    }
}
.search-btn {
  width: 26px;
  height: 20px;
  display: inline-block;
  background: url(/assets/search-btn.png) no-repeat top left;
  border: 0;
  cursor: pointer;
    &:hover {
      background-position: bottom left;
    }
    
}
.fix-me {
  top: -68px;
  position: fixed;
  width: 100%;
  z-index: 900;
  box-shadow: 0px 1px 15px #111;
}
.move-me {
  margin-top: 108px !important;
}
.share-the-love {
  padding-left: 184px;
  width: 328px;
  margin: 35px auto;
  height: 70px;
  background: url(/assets/sharebg.png) no-repeat top left;
    .add-sep {
      background: url(/assets/sharesep.png) no-repeat left center;
    }
    td {
      vertical-align: middle;
      height: 70px;
      padding-left: 15px;
    }
}
.overlap {
  background: #fff;
  border-radius: 10px;
  padding-top: 1px;
}
#slides {
  position: relative;
  float: left;
  margin: -208px 15px 0 15px;
  background: #222;
}
.slides_container {
  width:952px;
  height:200px;
  position: relative;
}
.slides_container div {
  width: 952px;
  height:200px;
  display:block;
  overflow: hidden;
    img {
      max-width: 552px;
      margin-top: -19%;
    }
}
.slide-article {
  width: 400px;
  height: 150px;
  position: absolute;
  right: 0;
  top: 0;
}
.slide-page {
  background: #222;
  text-align: right;
  width: 393px;
  position: absolute;
  bottom: 4px;
  right: 5px;
    li {
        a {
          display: inline-block;
          width: 10px;
          height: 10px;
          background: #333;
        }
      text-indent: 9999px;
      list-style: none;
      display: inline;
      margin: 4px;
        
    }
    li.current a {
          background: $blue;
        }
}
.slide-caption {
  float: left;
  font-size: 20px;
  text-transform: uppercase;
  padding: 5px 8px;
  color: white;
  font-weight: bold;
  margin-left: -15px;
  margin-top: 20px;
  margin-bottom: 15px;
}
.slide-lead {
  color: white;
  display: block;
  font-weight: bold;
  padding: 0px 10px;
}
.slide-cut {
  right: 384px;
  position: absolute;
  background: url(/assets/slide-tide.png) no-repeat;
  display: block;
  width: 50px;
  height: 200px;
}