<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>CollegeCity</title>
</head>

<body>

  <table background="http://stage.collegecity.pl/assets/bg.png" style="margin: 0 auto; padding: 10px; font-family: Arial;" width="600px" cellspacing="0" cellpadding="0">
    <tr>
      <td><img src="http://stage.collegecity.pl/assets/logo-cc.png"></td>
      <td></td>
    </tr>
    <tr>
      <td colspan="2" style="background: #f1f1f1; padding: 10px 20px;">
        <h1 style="font-size: 20px; color: #333;">Tytuł maila</h1>
	    <p>Welcome <%= @resource.email %>!</p>

		<p>You can confirm your account email through the link below:</p>

		<p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>

      </td>
    </tr>
    <tr>
      <td colspan="2" style="padding: 10px 20px; color: #f1f1f1; text-align:center; font-size: 12px;">
        <p style="font-size: 11px;">Otrzymujesz to powiadomienie jako <span style="color: #a2c306;"><%= @resource.email %></span> <br>
Aby dezaktywować powiadomienia z portalu CollegeCity <a href="/" style="color: #a2c306;">kliknij tutaj</a>.
      </td>
    </tr>
  </table> 

</body>
</html>