<!DOCTYPE html>
<html>
  <head>
    <title>Panel administracyjny CollegeCity</title>
    <%= stylesheet_link_tag "admin", :media => "all" %>
  </head>
  <body>
    <div class="front-login-box">
      <%= yield %>
    </div>
  </body>
</html>